@model AlimentandoEsperanzas.Models.Paymentmethod

@{
    ViewData["Title"] = "Crear";
}

<div class="lime-container">
    <h1 class="text-center mb-4">Agregar Nuevo Métodod de Pago</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="PaymentMethod1" class="control-label">Método de Pago</label>
                            <input asp-for="PaymentMethod1" class="form-control" />
                            <span asp-validation-for="PaymentMethod1" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
