@model AlimentandoEsperanzas.Models.User

@{
    ViewData["Title"] = "Crear";
}

<form asp-action="Create">
<div class="lime-container">
    <h1 class="text-center mb-4">Agregar Nuevo Usuario</h1>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card">
                <div class="card-body">
<<<<<<< Updated upstream

                    <form asp-action="Create">
=======
                    
>>>>>>> Stashed changes
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col">

                        <div class="form-group">
                            <label asp-for="IdentificationType" class="control-label">Tipo de Identificación</label>
                            <select asp-for="IdentificationType" class="form-control" asp-items="ViewBag.IdentificationType"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdNumber" class="control-label">Número de Identificación</label>
                            <input asp-for="IdNumber" class="form-control" />
                            <span asp-validation-for="IdNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Nombre</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label">Apellido</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Correo Electrónico</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        
                    
                </div>
            </div>
                
        </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Contraseña</label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
<<<<<<< Updated upstream
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Confirmar Contraseña</label>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                            </div>
                            <div class="col">

                        <div class="form-group">
                            <label asp-for="IdentificationType" class="control-label">Tipo de Identificación</label>
                            <select asp-for="IdentificationType" class="form-control" asp-items="ViewBag.IdentificationType"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdNumber" class="control-label">Número de Identificación</label>
                            <input asp-for="IdNumber" class="form-control" />
                            <span asp-validation-for="IdNumber" class="text-danger"></span>
                        </div>
=======
                        @* <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Contraseña</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div> *@
>>>>>>> Stashed changes
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label">Número de Teléfono</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date" class="control-label">Fecha</label>
                            <input asp-for="Date" class="form-control" type="date" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Role" class="control-label">Rol</label>
                            <select asp-for="Role" class="form-control" asp-items="ViewBag.Role"></select>
                        </div>
<<<<<<< Updated upstream


                            </div>
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>

=======
                    </div>
>>>>>>> Stashed changes
                </div>
            </div>
    </div>
        
        <table style="width: 100%">
            <tr>
                <td style="text-align: left"><button type="submit" class="btn btn-primary">Crear</button></td>
                <td style="text-align: right"><a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a></td>
            </tr>
        </table>
        
    
</div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
