@model AlimentandoEsperanzas.Models.Donationtype

@{
    ViewData["Title"] = "Editar";
}

<div class="lime-container">
    <h1 class="text-center mb-4">Editar Tipo de Donación</h1>
    <div class="card">
        <div class="card-body">
            <h4>Tipo de Donación</h4>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="DonationTypeId" />
                        <div class="form-group">
                            <label asp-for="DonationType1" class="control-label">Tipo de Donación</label>
                            <input asp-for="DonationType1" class="form-control" />
                            <span asp-validation-for="DonationType1" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
